{% extends 'compare/layout.html' %}
{% load static %}
{% static 'compare' as base_url %}
{% block body %}
    
<div class="container ">
    <div class="heading h1 ">
        Popular Items 
    </div>
    {% for i in items %}
    <div class="item-container card border-primary "  >
        <div class="card-img-top text-center"><a href="{% url 'compare:item' i.item %}"><img src="{% static 'compare/oil.webp'%}?{% now 'U'%}"></a></div>
        <div class="card-body">
            <h5 class="card-title">{{i.item}}</h5>
            <div class="location">Price: E {{i.price}}</div>
            <div class="rating">{{i.rating}} stars</div>
            <div class="winner">Best price at: {{i.storeWinner}}</div>
            <a href="#" class="btn btn-primary">Compare</a>
        </div>        
    </div>
    {% endfor %}
{% endblock %}